<app-header></app-header>
<section class="image-handler">
  <div class="container mx-auto p-3">
    <div class="grid grid-cols-5 gap-1">
      <div class="col-span-4">
        <input type="text" class="border-gray-100 border-2 w-full">
      </div>
      <div>
        <button class="text-white bg-red-600 w-full border-2 border-gray-900">ok</button>
      </div>
    </div>
  </div>
</section>
<h2>{{activeSetter}}</h2>
<pre>
  x1:{{dimensions.x1}}
  x2:{{dimensions.x2}}
  z1:{{dimensions.z1}}
  z2:{{dimensions.z2}}
</pre>
<section>
  <div class="container p-3">
    <div class="w-full m-3">
      <div class="w-full">
        <label for="">Known width/length (m): </label>

        <input type="number" class="
        w-1/4
        text-2xl
        bg-white
        border-gray-200
        border
        text-center
        " [(ngModel)]="knownLength">
      </div>
    </div>
    <div class="grid grid-cols-5 gap-1">
    <div class="col-span-5 md:col-span-3">
      <app-image-preview-box [activeSetter]="activeSetter" (CursorPositionEvent)="receiveCursorPosition($event)"></app-image-preview-box>
    </div>
    <div class="col-span-5 md:col-span-2">
      <app-measuring-tool (SetterEvent)="receiveActiveElement($event)"></app-measuring-tool>
      <div class="w-full">
        <button (click)="calculate()" class="button red">Calculate</button>
      </div>
      <div class="m-5">
        <h2 class="text-6xl text-center">
          {{result}}
        </h2>
      </div>
    </div>
  </div>

  </div>
</section>


<app-footer></app-footer>
