<header class="bg-blue-900 text-white mb-3">
  <div class="container mx-auto p-3">
    Estimate Height
  </div>
</header>
<section class="image-handler">
  <div class="container mx-auto p-3">
    <div class="grid grid-cols-5 gap-1">
      <div class="col-span-4">
        <input type="text" class="border-gray-100 border-2 w-full">
      </div>
      <div>
        <button class="text-white bg-red-600 w-full border-2 border-gray-900">ok</button>
      </div>
    </div>
  </div>
</section>

<section class="image-preview">
  <div class="container">
    <div class="md:w-2/4 mx-auto relative">
      <div class="absolute left-0 top-0 w-3 h-3 bg-red-700"></div>
      <div class="absolute left-0 top-3 w-3 h-3 bg-red-700"></div>
      <div class="absolute left-5 top-3 w-3 h-3 bg-blue-700"></div>
      <div class="absolute left-8 top-3 w-3 h-3 bg-blue-700"></div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Saint-Peretsburg_trolleybus_BKM-321_%5E2414_-_panoramio.jpg/800px-Saint-Peretsburg_trolleybus_BKM-321_%5E2414_-_panoramio.jpg" alt="" srcset="" class="w-full">
    </div>
  </div>
</section>

<section class="inputs">

</section>

<footer class="bg-gray-900 text-white p-3">
  Use with caution! estimated height is, well, estimated and should not be
  used as "definite" height.
</footer>
